/* Initial body*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
body, html {
  height: 100%;
  left: 0;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}
/* Initial Menu*/
.menu {
	background-color: rgba(0,0,0,0.5);
	left: -285px; /*starts off screen*/
	height: 100%; /*full page height*/
	position: fixed;
	z-index: 1000;
	width: 285px; /*has to coincide with offset left*/
	
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 140px;
}

.menu li {
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.icon-menu p {
	position: fixed;
	z-index: 1001;
	color: black;
	font-size: 35px; 
	padding-left: 25px;
	padding-top: 15px;
}

.icon-menu span {
	margin-right: 5px;
	cursor: pointer;	
}
/* Basic styling*/
.jumbotron {
	background-image: url("images/jumbotron_1.jpg"); /*add an image or good background*/
	height: 100%; /*takes full page of website*/
	width:100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.intro-info {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	
}
.intro-info span.border{
	background-color: #111;
	padding:10px;
	color: #fff;
	letter-spacing: 5px;
	font-size: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.intro-info .border:hover {
	opacity:0.7;
	cursor: pointer;
}

.intro-info h3{
	letter-spacing:1px;
	font-size: 1rem;
}

.about-me h2{
  font-size: 2rem;
  text-transform: uppercase;
  color: #111;
  text-align:center;
  letter-spacing: 10px;
  padding-bottom: 35px;
}

.about-me {
	padding: 35px 80px;
	text-align: justify;
	margin-top: -30px;
	margin-right: 0px;
	margin-left: 0px;
}

.timeline-jumbotron {
	background-image: url("images/timeline.jpg"); /*add an image or good background*/
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline-jumbotron {
  width: 100%;
}

.timeline-jumbotron {
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  line-height: 160%;
  font-size: 100%;
  color: #f2f2f2;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.fullwidth {
  width: 100%;
  padding-top: 4rem;
  background-color: transparent;
}

.timeline {
  width: 100%;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  background-image: -webkit-linear-gradient(#999999, #999999);
  background-image: linear-gradient(#999999, #999999);
  background-size: 2px 100%;
  background-position: 50% 1rem;
  background-repeat: no-repeat;
}
@media (max-width: 40rem) {
  .timeline {
    background-position: 2rem 0;
  }
}

.timeline .item{
  position: relative;
  display: block;
  cursor: pointer;
  width: 50%;
  float: left;
  clear: both;
  margin-top: -1rem;
}

.timeline .item .description{
	display:none;
	font-size: 0.75rem;
	letter-spacing: 5px;
}
.timeline-jumbotron .section-title {
  font-size: 2rem;
  color: #f2f2f2;
  text-align:center;
  letter-spacing: 10px;
  padding-top:25px;
}
.timeline .item .title {
	letter-spacing: 5px;
	font-size: 1.25rem;
}
@media (max-width: 40rem) {
  .timeline .item {
    width: 100%;
    float: none;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
.timeline .item:before {
  content: '';
  position: absolute;
  top: 0.3rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid #999999;
  border-radius: 50%;
  background-color: #e6e6e6;
}
.timeline .item:hover:before {
  background-color: #999999;
}

.timeline .item:first-child {
  margin-top: 0;
}

.timeline .item:nth-child(odd) {
  float: right;
  padding-left: 2rem;
}
.timeline .item:nth-child(odd):before {
  left: -0.5rem;
}

.timeline .item:nth-child(even) {
  padding-right: 2rem;
}
@media (max-width: 40rem) {
  .timeline .item:nth-child(even) {
    padding-right: 0;
    padding-left: 2rem;
  }
}
.timeline .item:nth-child(even):before {
  right: -0.5rem;
}
@media (max-width: 40rem) {
  .timeline .item:nth-child(even):before {
    left: -0.5rem;
  }
}

.timeline .item h2 {
  display: block;
  margin-bottom: 1rem;
  font-size: 100%;
}

.timeline .item:nth-child(even) h2 {
  text-align: right;
}
@media (max-width: 40rem) {
  .timeline .item:nth-child(even) h2 {
    text-align: left;
  }
}



.groupsmall:after {
  content: "";
  display: table;
  clear: both;
}

.smalltime {
  width: 100%;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-bottom: 4rem;
  background-image: -webkit-linear-gradient(#999999, #999999);
  background-image: linear-gradient(#999999, #999999);
  background-size: 2px 100%;
  background-position: 0%;
  background-repeat: no-repeat;
}

.smalltime .itemsmall{
  position: relative;
  display: block;
  cursor: pointer;
  width: 85%;
  float: left;
  clear: both;
  margin-top: -1rem;
}

.smalltime .itemsmall .description{
	display:none;
	font-size: 0.75rem;
	letter-spacing: 5px;
}

.smalltime .itemsmall .title {
	letter-spacing: 5px;
	font-size: 1.25rem;
}
@media (max-width: 40rem) {
  .smalltime .itemsmall {
    width: 100%;
    float: none;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
.smalltime .itemsmall:before {
  content: '';
  position: absolute;
  top: 0.3rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid #999999;
  border-radius: 50%;
  background-color: #e6e6e6;
}
.smalltime .itemsmall:hover:before {
  background-color: #999999;
}

.smalltime .itemsmall:first-child {
  margin-top: 0;
}

.smalltime .itemsmall:nth-child(odd) {
  float: left;
  padding-left: 2rem;
}
.smalltime .itemsmall:nth-child(odd):before {
  left: -0.5rem;
}

.smalltime .itemsmall:nth-child(even) {
  padding-left: 2rem;
}
@media (max-width: 40rem) {
  .smalltime .itemsmall:nth-child(even) {
    padding-right: 0;
    padding-left: 2rem;
  }
}
.smalltime .itemsmall:nth-child(even):before {
  left: -0.5rem;
}
@media (max-width: 40rem) {
  .smalltime .itemsmall:nth-child(even):before {
    left: -0.5rem;
  }
}

.smalltime .itemsmall h2 {
  display: block;
  margin-bottom: 1rem;
  font-size: 100%;
}

.smalltime .itemsmall:nth-child(even) h2 {
  text-align: left;
}
@media (max-width: 40rem) {
  .smalltime .itemsmall:nth-child(even) h2 {
    text-align: left;
  }
}

.skills h2{
  font-size: 2rem;
  color: black;
  text-align:center;
  letter-spacing: 10px;
  padding-bottom: 35px;
}

.skills {
	padding-bottom: 25px;
	text-align: justify;
	padding: 20px 0px;
	padding-bottom: 60px;
}
.skills .skill {
	background-color: rgb(209, 209, 209);
	height: 30px;
	padding: 0px;
	margin-bottom: 10px;
}

.skills .progress {
	height: 100%;
	width: 0;
}

.skills p {
	margin-bottom: 0px;
	text-align: right;
	text-transform: uppercase;
	font-size: 1em;
	color: rgb(56, 56, 56);
}

.skills .inner-percent {
	margin-bottom: 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	color: rgb(56, 56, 56);
}

.skills .seperator {
	margin-bottom: 20px;
}

.skills ul{
	margin-top: 30px;
	list-style: none;
}
.skills ul li{
	margin-top:5px;
	letter-spacing: 3px;
}

.contact {
	height: auto;
	
}

.contact .box {
	margin: 100px auto;
	padding: 20px;
	background-color: transparent;
	color: white;
	text-align: center;
	cursor: default;
}


.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

 .fade:hover {
      opacity: 0.5;
 }
 
 #grad {
  background: rgb(53, 53, 53); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(53, 53, 53) , rgb(75, 75, 75)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(53, 53, 53), rgb(75, 75, 75)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(53, 53, 53), rgb(75, 75, 75)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(53, 53, 53) , rgb(75, 75, 75)); /* Standard syntax */
  margin-right: 0px;
  margin-left: 0px;
}

.resume {
	height: 100%;
}
#hire{
	padding-top: 40px;
	color: white;
	text-align: center;
}

#hire h1 {
	padding-bottom: 20px;
	text-transform: uppercase;
	
	letter-spacing: 10px;
}

form {
  width: 75%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #878282;
  width: 100%;
  padding: 18px 18px;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 75px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}

form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #FD9638;
  color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #313A3D;
}
form .field:hover label {
  width: 18%;
  background: #878282;
  color: white;
}
form .msg-box textarea#msg:focus,
form .msg-box textarea#msg.focused{
  height: 250px;
}

form input[type="submit"] {
  background: #FD9638;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  margin-top: 35px;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #FD9638;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}

.bracket {
	text-transform: uppercase;
	font-size: 5rem;
	position: relative;
	top: 12px;
}

.hidden {
	display: hidden;
}

.contact .email{
	text-transform: uppercase;
	color: white;
	letter-spacing: 10px;
	text-decoration: none;
}

.contact a:hover {
	cursor: text;
}

#resume-link {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 2em;
	text-decoration: none;
	letter-spacing: 10px;
	margin: 0 15px 0 23px;
	cursor: pointer;
}
