html {
  margin: 0; }

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif !important;
  padding-top: 107px;
  line-height: 20px; }
  body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility; }
  body h1, body h2, body h3 {
    line-height: 40px; }
  body h2 {
    font-size: 31.5px; }

a:hover {
  text-decoration: none; }

input[type="text"],
input[type="password"],
input[type="submit"],
textarea {
  font-family: 'Lato', Helvetica; }

body._354e335633386a6e304e733d {
  padding-top: 0px !important; }

header {
  background: rgba(0, 0, 0, 0.6) !important; }

/* Navbar
-------------------------------------------------- */
.navbar {
  padding: 10px 0px 10px 0px; }
  .navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #585858; }
    .navbar.navbar-inverse.navbar-static-top {
      background-color: #252528; }
      .navbar.navbar-inverse.navbar-static-top .container {
        margin-top: 0;
        margin-bottom: 0; }
    .navbar.navbar-inverse .nav > li > a {
      font-size: 13px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      opacity: .6;
      filter: alpha(opacity=60);
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      transition: all .2s linear;
      padding: 10px 15px 10px;
      text-decoration: none; }
      .navbar.navbar-inverse .nav > li > a:hover, .navbar.navbar-inverse .nav > li > a:active {
        color: #fff;
        opacity: 1;
        filter: alpha(opacity=100); }
    .navbar.navbar-inverse .nav > li.active > a {
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100);
      background-color: transparent; }
  .navbar._35397a5331745473 {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #252525; }
    .navbar._35397a5331745473 .container {
      margin-top: 0px !important;
      margin-bottom: 0px !important; }
  .navbar .container {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin .2s ease-in-out;
    -moz-transition: margin .2s ease-in-out;
    transition: margin .2s ease-in-out; }
    .navbar .container .navbar-header .navbar-brand {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      font-size: 20px;
      margin-left: -20px;
      padding: 10px 20px 10px; }
    .navbar .container .collapse .nav .dropdown .caret {
      margin-bottom: 4px; }
    .navbar .container .collapse .nav .dropdown .dropdown-menu {
      background: #252528;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin-top: 2px; }
      .navbar .container .collapse .nav .dropdown .dropdown-menu > li > a {
        color: #fff; }
        .navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover {
          background: #08c; }

._3538334d35394c697a38724e3374584d7a75553d {
  width: 100%;
  margin-bottom: 60px; }
  ._3538334d35394c697a38724e3374584d7a75553d h3 {
    color: #646464;
    font-weight: 300;
    font-style: italic;
    font-size: 27px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 0px;
    display: inline-block;
    margin: 0; }

/* Footer
-------------------------------------------------- */
#footer {
  min-height: 260px;
  margin-top: 140px;
  background-color: #252528;
  color: #fff;
  padding-top: 35px;
  /* testimonials */
  /* contact */
  /* credits */
  /* inner footer */ }
  #footer ._327466593538376c774e504b32746a4e32773d3d {
    color: #c4c4c4;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 15px; }
  #footer ._3573334d324e666e774e7655374f6a62 {
    margin-left: 0px; }
    #footer ._3573334d324e666e774e7655374f6a62 ._354e666335773d3d {
      margin-bottom: 70px;
      width: 93%; }
      #footer ._3573334d324e666e774e7655374f6a62 ._354e666335773d3d img {
        float: left;
        margin-right: 20px; }
      #footer ._3573334d324e666e774e7655374f6a62 ._354e666335773d3d ._324d6e6432413d3d {
        font-weight: bold;
        font-style: italic; }
      #footer ._3573334d324e666e774e7655374f6a62 ._354e666335773d3d ._364e48643338343d {
        display: block;
        color: #b5b5b6;
        font-size: 14px; }
  #footer ._364d336335394c67304e6e4f32754462 ._3639724b34396e5930773d3d {
    margin: 0 auto;
    width: 82%; }
  #footer ._364d336335394c67304e6e4f32754462 ._327466593538376c774e504b32746a4e32773d3d {
    margin-left: 30px; }
  #footer ._364d336335394c67304e6e4f32754462 ._356433593538343d {
    color: #bfbfc0; }
    #footer ._364d336335394c67304e6e4f32754462 ._356433593538343d span {
      font-size: 32px;
      font-style: italic;
      position: relative;
      top: 5px;
      font-family: Georgia !important;
      float: left;
      margin-right: 8px; }
  #footer ._364d336335394c67304e6e4f32754462 ._3164336432396a6c {
    margin-top: 40px; }
    #footer ._364d336335394c67304e6e4f32754462 ._3164336432396a6c img {
      float: left;
      margin-right: 15px;
      position: relative;
      top: -6px; }
  #footer ._364d336335394c67304e6e4f32754462 ._34736e5732413d3d {
    font-size: 13px;
    font-weight: bold; }
  #footer ._364d336335394c67304e6e4f32754462 ._3364625034673d3d {
    font-style: italic;
    color: #ccc; }
  #footer ._313966583538725731513d3d {
    text-align: right; }
    #footer ._313966583538725731513d3d ._327466593538376c774e504b32746a4e32773d3d {
      text-align: left;
      margin-left: 35px; }
    #footer ._313966583538725731513d3d input[type="text"], #footer ._313966583538725731513d3d textarea {
      border: none;
      background-color: #1f1f21;
      color: #868687;
      padding: 8px 20px;
      border-radius: 3px;
      font-size: 14px;
      font-family: Lato !important;
      width: 95%;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      margin-bottom: 10px; }
      #footer ._313966583538725731513d3d input[type="text"]:focus, #footer ._313966583538725731513d3d textarea:focus {
        border: none;
        box-shadow: none;
        background-color: #000; }
      #footer ._313966583538725731513d3d input[type="text"]:moz-placeholder, #footer ._313966583538725731513d3d textarea:moz-placeholder {
        color: #868687; }
      #footer ._313966583538725731513d3d input[type="text"]::-webkit-input-placeholder, #footer ._313966583538725731513d3d textarea::-webkit-input-placeholder {
        color: #868687; }
      #footer ._313966583538725731513d3d input[type="text"]:-ms-input-placeholder, #footer ._313966583538725731513d3d textarea:-ms-input-placeholder {
        color: #868687; }
    #footer ._313966583538725731513d3d input[type="submit"] {
      background-color: #3e3e40;
      border: none;
      color: #fff;
      border-radius: 4px;
      padding: 5px 20px;
      font-size: 14px;
      font-weight: bold;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear; }
      #footer ._313966583538725731513d3d input[type="submit"]:hover {
        background-color: #2190DB; }
  #footer ._3139724f31394c6e31413d3d {
    border-top: 1px solid #343437;
    padding: 10px 0px 60px 0px; }
    #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 {
      margin-top: 30px;
      text-align: center; }
      #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a {
        margin: 10px; }
        #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span {
          display: inline-block;
          width: 33px;
          height: 33px; }
          #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._3363765970413d3d, #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._3363765932773d3d {
            background-position: 0px 0px; }
          #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._3363765970513d3d, #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._336376597064453d {
            background-position: -37px 0px; }
          #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._3363765970673d3d, #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._336376597074453d {
            background-position: -75px 0px; }
          #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._3363765970773d3d, #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._336376597039453d {
            background-position: -112px -1px; }
          #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._3363765971413d3d, #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._33637659714e453d {
            background-position: -151px 0px; }
          #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._3363765971513d3d, #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._336376597164453d {
            background-position: -188px -1px; }
          #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._3363765971673d3d, #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a span._336376597174453d {
            background-position: -226px 0px; }
        #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a:hover span._3539664d334d726679733755352d633d {
          display: none; }
        #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 a:hover span._3539664d334d726679733755352d664830513d3d {
          display: inline-block !important; }
      #footer ._3139724f31394c6e31413d3d ._3539664d334d7266 span._3539664d334d726679733755352d664830513d3d {
        display: none; }
    #footer ._3139724f31394c6e31413d3d ._3139665a374e7663794e505a {
      color: #a6a6a7;
      font-style: italic;
      text-align: center;
      margin-top: 30px; }
    #footer ._3139724f31394c6e31413d3d ._3539664d334d726679733755352d633d {
      background: url("../../img/socialicons.png") no-repeat;
      width: 265px;
      height: 36px; }
    #footer ._3139724f31394c6e31413d3d ._3539664d334d726679733755352d664830513d3d {
      background: url("../../img/socialicons_h.png") no-repeat;
      width: 265px;
      height: 36px; }
  #footer ._3364625034673d3d {
    margin-bottom: 10px;
    margin-left: 0; }
    #footer ._3364625034673d3d ._35733363334d33597a38374b {
      margin-left: 0; }
    #footer ._3364625034673d3d ul {
      margin: 0;
      padding: 0; }
      #footer ._3364625034673d3d ul li {
        list-style: none;
        font-size: 16px;
        color: #777E83;
        line-height: 23px; }
      #footer ._3364625034673d3d ul a {
        color: #777E83;
        -webkit-transition: color .2s;
        -moz-transition: color .2s;
        -ms-transition: color .2s;
        transition: color .2s; }
        #footer ._3364625034673d3d ul a:hover {
          color: #A9B4BB; }
    #footer ._3364625034673d3d ._364e66653174453d {
      float: right; }
      #footer ._3364625034673d3d ._364e66653174453d ul li {
        display: inline-block;
        margin-left: 22px; }

/* Global
-------------------------------------------------- */
._354d6e51324d6a6278737a4a3375593d {
  background-color: #000;
  color: #fff;
  font-size: 23px;
  display: inline-block;
  padding: 0px 18px; }

._3539664d334d7266774e5449364f493d {
  background: url("../../img/social_icons.png") no-repeat;
  width: 110px;
  height: 18px; }

._313966583538725731637259364e66527974383d {
  background: url("../../img/contact_social.png") no-repeat;
  width: 180px;
  height: 34px; }

/* Responsive
-------------------------------------------------- */
@media (max-width: 991px) {
  body {
    padding-top: 0 !important; }

  .navbar.navbar-inverse {
    background: #252528; } }
@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    margin-bottom: 0; }
    .navbar._364e724b34647a6a7774334b352d673d.navbar-fixed-top {
      margin-bottom: -70px;
      position: relative;
      top: 999; }
    .navbar._334e665732413d3d.navbar-fixed-top {
      margin-bottom: -70px;
      position: relative;
      top: 999; } }
@media (max-width: 767px) {
  .navbar.navbar-inverse .container .navbar-header .navbar-brand {
    margin-left: -5px; }
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    line-height: 25px;
    font-weight: bold;
    padding: 5px 15px 5px 35px; }

  #footer .container {
    padding: 0px 20px; }
  #footer ._327466593538376c774e504b32746a4e32773d3d {
    margin-left: 0; }
    #footer ._327466593538376c774e504b32746a4e32773d3d h3 {
      margin-left: 0; }
  #footer ._364d336335394c67304e6e4f32754462 {
    overflow: hidden;
    margin-bottom: 40px; }
    #footer ._364d336335394c67304e6e4f32754462 ._327466593538376c774e504b32746a4e32773d3d {
      margin-left: 0; }
    #footer ._364d336335394c67304e6e4f32754462 ._3639724b34396e5930773d3d {
      float: left;
      width: 100%; }
  #footer ._313966583538725731513d3d {
    margin: 0; }
    #footer ._313966583538725731513d3d ._327466593538376c774e504b32746a4e32773d3d {
      margin-left: 0; }
    #footer ._313966583538725731513d3d input[type="text"], #footer ._313966583538725731513d3d textarea {
      float: left;
      width: 100%; }
  #footer ._3364625034673d3d ._364e66653174453d {
    float: none; }
    #footer ._3364625034673d3d ._364e66653174453d ul {
      margin: 15px 0 15px; }
      #footer ._3364625034673d3d ._364e66653174453d ul li {
        margin: 0 30px 0 0; }
  #footer ._3139724f31394c6e31413d3d {
    margin-top: 20px; } }
